zc702_estimation_platform.cache/
zc702_estimation_platform.gen/
zc702_estimation_platform.hw/
zc702_estimation_platform.ip_user_files/
zc702_estimation_platform.runs/
zc702_estimation_platform.sim/
zc702_estimation_platform.tmp/
zc702_estimation_platform_hw.xsa
